# @package _global_

#### Model params #############################################################
model:
  name: rnn
  hparams:
    hidden_size: 128
    emb_size: 32
    add_embedding_before: ['encoding', 'decoding']
    time_layers: 2
    activation: elu
    noise_mode: lin
